.table-row {
    margin-bottom: 1px;
    font-size: 18px;
    color: white;
    padding: 2px;
    cursor: pointer;
}

.state-O {
    background-color: rgb(92, 91, 91);
}

.state-X {
    background-color: grey;
}

.state-S {
    background-color: #ffab00;
    color: white;
}

#table-container {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 250px;
    height: 90vh;
}

#selections-container {
    width: 250px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    color: gray;
}

.table-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffab00;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.table-content {
    height: calc(90vh - 10vh);
    overflow-y: auto;
}

table, td {
    border: 1px solid black;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}
